* {
  border: 0;
  margin: 0px;
}
.wrapper1 {
  display: grid;
  grid-template-columns: 3% 94% 3%;
  margin-top: 1em;
}
.container2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.container2 .left {
  background-color: #ff5953;
  height: 576px;
}
.container2 .right {
  background-color: #f8f8f8;
}

.container2 h1 {
  font-family: Gilroy-Heavy;
  font-size: 11em;
  color: #1c1b20;
  line-height: 0.9;
}
.dot {
  color: #ff5953;
}

.text {
  position: relative;
  text-align: left;
  float: right;
  margin-right: -11em;
  z-index: 50px;
  margin-top: 6.5em;
}

@font-face {
  font-family: Gilroy-Heavy;
  font-style: normal;
  font-weight: normal;
  src: local("Gilroy-Heavy ☞"), url("fonts/Gilroy-Heavy.woff") format("woff");
}

.box {
  background-color: #f8f8f8;
  height: 576px;
}
